header.menu{
    background-color:cyan;
    color:ghostwhite;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
}
.Inicio{
    font-size: 15px;
    margin: 0 20px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
.Inicio:hover {
    font-size: large;
    color:black;
    background-color:snow;
    text-align: center;
  }
.Quienes{
    font-size: 15px;
    margin: 0 20px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
  .Quienes:hover {
    font-size: large;
    color:ghostwhite;
    background-color:burlywood;
    text-align: center;
  }
.Contacto{
    font-size: 15px;
    margin: 0 20px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
  .Contacto:hover {
    font-size: large;
    color:ghostwhite;
    background-color:darkgray;
    text-align: center;
  }
  .body1{
    background-color:snow;
  }
  .body2{
    background-color:burlywood;
  }
  .body3{
    background-color:darkgray;
  }
  #inicio{
    text-align:left;
    line-height: 200%;
    margin: 8em 16em ;
  }
  #p1{
    color:darkgreen;
    font-weight: bold;
    text-decoration: underline;
  }
  #p2{
    color:crimson;
    font-weight: bold;
  }
  #p3{
    font-weight:lighter;
    text-decoration: overline;
  }
  #p4{
    font-weight: bold;
    font-size: x-large;
  }
  #p5{
    color:blue;
    font-weight: bold;
  }
  #p6{
    color:crimson;
    font-weight: bold;
    text-decoration: underline;
  }
.centro{
    display: flex;
    justify-content: center;
    margin: 0 50px;
}
.img{
    width: 10%;
}
.rs{
    margin: 0 20px;
    margin-top: 20px;
}
ul.lista{
    color:black;
    text-align: center;
    margin: 8em 16em ;
}
.Table{
    color:crimson;
    
 }
 .Texto{
    text-align:justify;
    font-weight: bold;
 }
 table {
   width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
   background-color:gold;

 }
 caption, td, th {
    padding: 0.3em;
    border: 2px dotted black;
    width: 25%;
   text-align: center;
   vertical-align: top;
   border-collapse: collapse;
   border-spacing: 0;

 }
 tbody {
    border: 2px dotted black;
    border-bottom: 2px dotted crimson;
 }